.creatPost{
max-width: 500px;
padding: 5px;
margin: 10px auto;
border: 1px solid black;
border-radius: 5px;
}
.main{
    border-top: 1px solid black;
    padding: 10px;
}
.post-header{
    display: flex;
    justify-content: space-between;
}
#post-btn{
    border: none;
    padding: 5px;
    color: #339ce3;
    background: none;
    font-weight: bolder;
    cursor: pointer;
}
.main {
    margin-top: 20px;
    text-align: center;
    padding: 15px 0;
    border-bottom: 1px solid #dbdbdb;
}

.main input[type="file"] {
    width: 90%;
    padding: 12px;
    border: 1px solid #dbdbdb;
    border-radius: 8px;
    
    font-size: 14px;
    color: #333;
    cursor: pointer;
    transition: border-color 0.3s ease, background-color 0.3s ease;
}

.main input[type="file"]:hover {
    border-color: #0095f6;
   
}

.main input[type="file"]:focus {
    outline: none;
    border-color: #0077cc;

}

.details{
    border-top: 1px solid black;;
}
textarea{
    width: 90%;
    border: none;
    outline: none;
}
#output{
    width: 300px;
    border: none;
    outline: none;
}
